/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

html {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #757575;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

button {
  border: none;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

textarea {
  resize: none;
}

.filter,
.main-button {
  cursor: pointer;
}

.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body.modal-open {
  overflow: hidden;
}

.portfolio-cards, .filters, .social-networks__list, .footer__contacts, .clients, .personal-contacts, .team-list, .services, .advantages, .mob-contacts, .mob-nav, .header-social-link, .contacts, .nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo__accent {
  color: #2196f3;
}

.logo--inverse {
  color: var(--white-color);
  display: inline-block;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .logo__link {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .logo__link {
    margin-right: 93px;
  }
}

.container {
  padding: 0 15px;
  margin: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.main-button {
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.section__titel {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
}

.nav__item {
  position: relative;
}

.nav__link {
  display: block;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .nav__link {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .nav__item {
    margin-right: 50px;
  }
  .nav__item:last-child {
    margin-right: 0;
  }
}
.current {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -24px;
    width: 100%;
    height: 4px;
    display: block;
    background: #2196f3;
    border-radius: 2px;
  }
}
@media screen and (min-width: 1200px) {
  .current::after {
    bottom: -26px;
  }
}
@media screen and (max-width: 767px) {
  .nav--tablet {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .nav--tablet {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    margin-left: 84px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    align-items: center;
    margin-left: 305px;
  }
}

.contacts__link {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
@media screen and (min-width: 768px) {
  .contacts__link {
    display: flex;
    align-items: center;
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .contacts__item {
    margin-bottom: 10px;
  }
  .contacts__item:last-child {
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item {
    margin-bottom: 0;
    margin-right: 30px;
  }
  .contacts__item:last-child {
    margin-right: 0;
  }
}

.contacts__phone {
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover .contacts__phone {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .contacts__phone {
    font-size: 12px;
    color: #757575;
  }
}

@media screen and (min-width: 768px) {
  .contacts__icon {
    display: block;
    margin-right: 10px;
    fill: #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.contacts__link:hover .contacts__icon, .contacts__link:focus .contacts__icon {
  fill: #2196f3;
}

.contacts__mail {
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover .contacts__mail {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .contacts__mail {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  .contacts--container {
    margin-left: auto;
  }
}

.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}
@media screen and (min-width: 768px) {
  .header {
    display: flex;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .header .logo {
    margin-right: 88px;
  }
  .header .menu-btn {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
  .header .logo {
    margin-right: 93px;
  }
}

.header--container {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header--container {
    padding: 10px 15px;
  }
}

.header-social-link {
  display: flex;
  margin-top: 64px;
}
@media screen and (min-width: 768px) {
  .header-social-link {
    display: none;
  }
}

.header-social-link__item {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
}
.header-social-link__item:last-child {
  margin-right: 0;
}
.header-social-link__item:last-child {
  border-right: none;
}

.header-social-link__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  padding-right: 10px;
}

.menu-container {
  display: none;
  background-color: #ffffff;
}
.menu-container.is-open {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    align-items: center;
  }
}

.mobile-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px 48px 40px;
  transform: translateY(-100%);
  background-color: #ffffff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-container.is-open {
  transform: translateY(0);
}

.menu-btn {
  margin: 0 0 0 auto;
  padding: 0;
  border: none;
  background-color: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-btn:hover, .menu-btn:focus {
  fill: #2196f3;
}
.menu-btn.is-open .icon-menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 990;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-toggle:hover, .menu-toggle:focus {
  fill: #2196f3;
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.mobile-nav-container {
  margin-bottom: auto;
}

@media screen and (max-width: 767px) {
  .mob-nav__item {
    margin-bottom: 32px;
  }
}
.mob-nav__item {
  position: relative;
}

.mob-nav__link {
  display: block;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-nav__link:last-child {
  margin-bottom: 0;
}
.mob-nav__link:hover, .mob-nav__link:focus {
  color: #2196f3;
}

.current {
  color: #2196f3;
}

.mob-contacts__link {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-contacts__item {
  margin-bottom: 32px;
}
.mob-contacts__item:last-child {
  margin-bottom: 0;
  margin-left: 0;
}

.mob-contacts__phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-contacts__link:hover .mob-contacts__phone {
  color: #2196f3;
}

.mob-contacts__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-contacts__link:hover .mob-contacts__mail {
  color: #2196f3;
}

.hero {
  padding: 118px 60px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-position: center;
  background-size: cover;
  text-align: center;
}
.hero__heading {
  max-width: 360px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .hero__heading {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  padding: 93px 15px 94px 15px;
  z-index: 998;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  overflow-y: scroll;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.15);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 30px);
  transform: translate(-50%, -50%) scale(1);
  z-index: 999;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 558px;
  }
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.icon-close {
  display: block;
  margin-left: auto;
  margin-right: auto;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close:hover .icon-close {
  fill: #2196f3;
}

.main-form {
  padding: 40px;
}
.main-form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.main-form__field-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  text-align: start;
}

.main-form__field-titel {
  display: inline-block;
  margin-bottom: 4px;
}

.main-form__field-input {
  height: 40px;
  padding: 11px 12px 11px 42px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.main-form__input-comment {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-form__input-comment::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.main-form__input-comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.main-form__input-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.main-form__field-input:hover,
.main-form__input-comment:hover,
.main-form__field-input:focus,
.main-form__input-comment:focus {
  border: 1px solid #2196f3;
}

.terms {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.terms .checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.checkbox__icon {
  width: 16px;
  height: 15px;
  background-image: url("../images/chek-border.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:checked + .checkbox__icon {
  background-image: url("../images/check-icon.svg");
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:focus + .checkbox__icon {
  box-shadow: 0 0 2px 0.1em rgba(5, 88, 255, 0.96);
}

.form-field-agreement input[type=checkbox] {
  width: 20px;
}

.terms-text {
  margin-left: 7px;
}
.terms-text .agreement {
  color: #2196f3;
  text-decoration: underline;
}

.btn-submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.main-form__field-label {
  position: relative;
}

.icon-person,
.icon-telephone,
.icon-email {
  position: absolute;
  left: 12px;
  top: calc(50% + 9px);
  transform: translateY(-50%);
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-form__field-name:hover .icon-person,
.main-form__field-telephone:hover .icon-telephone,
.main-form__field-email:hover .icon-email {
  fill: #2196f3;
}

.main-form__field-name:focus-within > .icon-person,
.main-form__field-telephone:focus-within > .icon-telephone,
.main-form__field-email:focus-within > .icon-email {
  fill: #2196f3;
}

.main-button--agree {
  padding-left: 55px;
  padding-right: 55px;
}

@media screen and (min-width: 768px) {
  .advantages {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__icon {
  margin-left: auto;
  margin-right: auto;
  width: 70px;
  height: 70px;
}

.advantages__item {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .advantages__item {
    width: calc((100% - 30px) / 2);
  }
  .advantages__item:nth-child(odd) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
  }
  .advantages__item:last-child {
    margin-right: 0;
  }
}

.advantages__background {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.advantages__caption {
  margin-bottom: 10px;
  text-align: center;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
@media screen and (min-width: 768px) {
  .advantages__caption {
    text-align: start;
  }
}

.advantages__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.section--no-padding {
  display: none;
  padding-top: 0;
}
@media screen and (min-width: 1200px) {
  .section--no-padding {
    display: block;
  }
}

.services {
  display: flex;
}

.services__item {
  margin-right: 30px;
}
.services__item:last-child {
  margin-right: 0;
}

.services__card {
  position: relative;
}
.services__card .services__text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  text-align: center;
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.team-list__card {
  width: 100%;
  padding-bottom: 30px;
  margin-bottom: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list__card:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .team-list__card {
    width: calc((100% - 30px) / 2);
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team-list__card {
    width: calc((100% - 90px) / 4);
  }
}

.team-list__photo {
  width: 100%;
}

.team-list__name {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-list__function {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.personal-contacts {
  display: inline-flex;
  gap: 10px;
}

.personal-contacts__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.personal-contacts__link:hover, .personal-contacts__link:focus {
  background-color: #2196f3;
}

.personal-contacts__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.personal-contacts__link:hover .personal-contacts__icon, .personal-contacts__link:focus .personal-contacts__icon {
  fill: #ffffff;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}

.clients__item {
  margin-left: auto;
  margin-right: auto;
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
  }
}

.clients__border {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__logo:hover .clients__border, .clients__logo:focus .clients__border {
  border: 1px solid #2196f3;
}

.clients__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__logo:hover .clients__icon, .clients__logo:focus .clients__icon {
  fill: #2196f3;
}

.footer {
  background-color: #2f303a;
  color: #ffffff;
  padding: 60px 0;
}

.footer__point {
  margin-bottom: 9px;
}

@media screen and (min-width: 768px) {
  .footer-tablet {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .footer-tablet {
    align-items: baseline;
  }
}

.footer--container {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer--container {
    display: flex;
    align-items: baseline;
  }
}

.footer__contacts {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__contacts {
    margin-bottom: 0;
  }
}

.footer__address,
.footer__contact {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer__contact {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__contact:hover, .footer__contact:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .footer-tablet__contacts {
    margin-left: 76px;
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-tablet__contacts {
    margin-left: 0;
    margin-right: 0;
    text-align: start;
  }
}

.social-networks__list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .social-networks {
    margin-left: 70px;
    text-align: start;
  }
}

.social-networks__label,
.footer-form__titel {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.social-networks__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-networks__link:hover, .social-networks__link:focus {
  background-color: #2196f3;
}

.social-networks__icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    margin-left: 93px;
    text-align: start;
  }
}

.footer-form__input {
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  margin-bottom: 20px;
  color: var(--white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.footer-form__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 768px) {
  .footer-form__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe {
    display: flex;
    text-align: center;
  }
}

.subscribe__btn {
  display: flex;
  align-items: center;
  padding: 10px 29px;
  margin-left: auto;
  margin-right: auto;
}

.icon-send {
  margin-left: 10px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-content: space-between;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filters {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filters {
    margin-bottom: 50px;
  }
}

.filters__button {
  padding: 6px 22px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filters__button:hover, .filters__button:focus {
  background-color: #2196f3;
  color: #ffffff;
  border: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.portfolio-cards__titel {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.portfolio-cards__project-label {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
@media screen and (min-width: 768px) {
  .portfolio-cards {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.portfolio-cards__item {
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.portfolio-cards__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .portfolio-cards__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-cards__item {
    width: calc((100% - 60px) / 3);
  }
}

.project-thumb__img {
  width: 100%;
  height: 100%;
}

.portfolio-cards__item:hover .project-text {
  opacity: 1;
}

.project-type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.project-thumb {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.project-thumb__text {
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.project-thumb__overlay {
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-cards__item:hover .project-thumb__overlay {
  opacity: 1;
  transform: translateY(0);
}

.section-inverse {
  background-color: #2f303a;
}

.section__titel--inverse {
  color: #ffffff;
}

.map {
  height: 44vh;
  padding: 8px;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.12), 1px 2px 2px rgba(0, 0, 0, 0.14), 1px 4px 1px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}
@media screen and (max-width: 767px) {
  .map {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .map {
    width: 700px;
  }
}
@media screen and (min-width: 1200px) {
  .map {
    width: 1020px;
  }
}

.map__link {
  display: block;
  width: 100%;
}/*# sourceMappingURL=main.css.map */