.advantages {
	display: flex;
  @extend %list;
}

.advantages__icon {
	width: 70px;
	height: 70px;
}

.advantages__item {
	width: calc((100% - 90px) / 4);
	margin-right: 30px;

	&:last-child {
		margin-right: 0;
	}

	.advantages__background {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 120px;
		background-color: $second-background-color;
		height: 120px;
		margin-bottom: 30px;
		border-radius: 4px;
	}

	.advantages__caption {
		margin-bottom: 10px;
		font-family: "Roboto";
		font-weight: 700;
		font-size: 14px;
		line-height: 1.14;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: $text-second-color;
	}

	.advantages__text {
		font-size: 14px;
		line-height: 1.71;
		letter-spacing: 0.03em;
	}
}
