.clients {
	display: flex;
	gap: 30px;
  @extend %list;
}

.clients__border {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 170px;
	height: 92px;
	border: 1px solid #afb1b8;
	border-radius: 4px;

	transition: border 250ms $cubic-bezier;

	.clients__logo:hover  &,
	.clients__logo:focus  & {
		border: 1px solid $accent-color;
	}
}

.clients__icon {
	fill: #afb1b8;

	transition: fill 250ms $cubic-bezier;

	.clients__logo:hover &,
  .clients__logo:focus & {
	  fill: $accent-color;
  }
}


