.main-form {
	padding: 40px;

	&__title {
		margin-bottom: 12px;
	
		font-weight: 700;
		font-size: 20px;
		line-height: 1.5;
		// line-height: 1.15;
		text-align: center;
		letter-spacing: 0.03em;
		color: $text-second-color;
	}

	&__field-label {
		display: flex;
		flex-direction: column;
		margin-bottom: 10px;
	
		font-weight: 400;
		font-size: 12px;
		line-height: 1.17;
		letter-spacing: 0.01em;
		color: $text-main-color;
		text-align: start;
	}
}

.main-form__field-titel {
	display: inline-block;
	margin-bottom: 4px;
}

.main-form__field-input {
	height: 40px;
	padding: 11px 12px 11px 42px;
	width: 100%;

	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;

	transition: border 250ms $cubic-bezier;
	cursor: pointer;
}

.main-form__input-comment {
	display: block;
	width: 100%;
	height: 120px;
	padding: 12px 16px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;

	transition: border 250ms $cubic-bezier;
	cursor: pointer;

	transition: border 250ms $cubic-bezier;

	&::placeholder {
		font-size: 12px;
		line-height: 1.17;
		letter-spacing: 0.01em;
		color: rgba(117, 117, 117, 0.5);
	}
}

.main-form__field-input:hover,
.main-form__input-comment:hover,
.main-form__field-input:focus,
.main-form__input-comment:focus {
	border: 1px solid $accent-color;
}

.terms {
	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: start;

	margin-top: 20px;
	margin-bottom: 30px;

	font-size: 12px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: $text-main-color;

	.checkbox {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;
		overflow: hidden;
		border: 0;
		clip: rect(0 0 0 0);
	}
}

.checkbox__icon {
	width: 16px;
	height: 15px;

	background-image: url("../images/chek-border.svg");
	background-size: contain;
	background-repeat: no-repeat;

	transition: background-image 250ms $cubic-bezier, box-shadow 250ms $cubic-bezier;

	.checkbox:checked + & {
		background-image: url("../images/check-icon.svg");
		transition: background-image 250ms $cubic-bezier;
	}

	.checkbox:focus + & {
		box-shadow: 0 0 2px 0.1em rgba(5, 88, 255, 0.96);
	}
}

.form-field-agreement input[type="checkbox"] {
	width: 20px;
}

.terms-text {
	margin-left: 7px;

	.agreement {
		color: $accent-color;
		text-decoration: underline;
	}
}

.btn-submit {
	display: block;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

.main-form__field-name,
.main-form__field-telephone,
.main-form__field-email {
	position: relative;
}

.icon-person,
.icon-telephone,
.icon-email {
	position: absolute;
	left: 12px;
	top: 50%;
	transform: translateY(-50%);

	fill: $text-second-color;
	transition: fill 250ms $cubic-bezier;
}

.main-form__field-name:hover .icon-person,
.main-form__field-telephone:hover .icon-telephone,
.main-form__field-email:hover .icon-email {
	fill: $accent-color;
}

.main-form__field-name:focus-within > .icon-person,
.main-form__field-telephone:focus-within > .icon-telephone,
.main-form__field-email:focus-within > .icon-email {
	fill: $accent-color;
}

.main-button--agree {
	padding-left: 55px;
	padding-right: 55px;
}