.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	padding: 93px 15px 94px 15px;
	z-index: 998;

	width: 100%;
	height: 100%;

	background: rgba(0, 0, 0, 0.2);
	opacity: 1;
	overflow-y: scroll;

	transition: opacity 250ms $cubic-bezier, visibility 250ms $cubic-bezier;
}

.backdrop.is-hidden {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}

.backdrop.is-hidden .modal {
	transform: translate(-50%, -50%) scale(1.15);
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	width:  calc(100% - 30px);
	transform: translate(-50%, -50%) scale(1);
	z-index: 999;
	background: $main-color;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;

	transition: transform 250ms $cubic-bezier;

	@media screen and (min-width: $tablet) {
		width: 450px ;
	}

	@media screen and (min-width: $desktop) {
		width: 558px ;
	}
}

.btn-close {
	position: absolute;
	top: 8px;
	right: 8px;

	width: 30px;
	height: 30px;
	padding: 0;
	margin: 0;

	background: $main-color;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	cursor: pointer;
}

.icon-close {
	display: block;
	margin-left: auto;
	margin-right: auto;

	fill: #000000;

	transition: fill 250ms $cubic-bezier;

	.btn-close:hover & {
		fill: $accent-color;
	}
}


