.logo {
	font-family: "Raleway", sans-serif;
	color: #000000;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
}

.logo__accent {
	color: $accent-color;
}

.logo--inverse {
	color: var(--white-color);
	display: inline-block;
	margin-bottom: 20px;
}

.logo__link {
	@media screen and (min-width: $tablet) {
		margin-right: 88px;
	}

	@media screen and (min-width: $desktop) {
		margin-right: 93px;
	}
}