html {
	margin: 0;
}

body {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	color: $text-main-color ;
	background-color: $main-color;
}

a {
	text-decoration: none;
}

img {
	display: block;
}

button {
	border: none;
}

h1,
h2,
h3,
p {
	margin-top: 0;
	margin-bottom: 0;
}

textarea {
	resize: none;
}

.filter,
.main-button {
	cursor: pointer;
}

.hidden-title {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
}

body.modal-open {
	overflow: hidden;
}