.header-social-link {
  @extend %list;
  display: flex;
  margin-top: 64px;
  
  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.header-social-link__item {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    margin-right: 10px;
  
  &:last-child {
    margin-right: 0;
  }

    &:last-child {
      border-right: none;
    }
  }

.header-social-link__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: $accent-color;
  padding-right: 10px;
  
}
