.header {
	position: relative;
	border-bottom: 1px solid #ececec;
  
  @media screen and (min-width: $tablet) {
		display: flex;
		padding-top: 21px;
		padding-bottom: 21px;
		.logo {
			margin-right: 88px;
		}

		.menu-btn {
			display: none;
		}
	}

	@media screen and (min-width: $desktop) {
		padding-top: 24px;
		padding-bottom: 25px;
		.logo {
			margin-right: 93px;
		}
	}
}

.header--container { 
	display: flex;
	align-items: center;

  @media screen and (max-width: 767px){
    padding: 10px 15px;
		
  }
}


// @media screen and (min-width: $tablet) {
// 	.header--container {
// 		display: flex;
// 	}
// }

