
$main-color: #ffffff;
$second-background-color: #f5f4fa;
$inverse-background-color: #2f303a;

$text-main-color: #757575;
$text-second-color: #212121;
$accent-color: #2196f3;

$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);

